<head>
    <meta charset="utf-8">
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Title }}</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{ .Site.Params.Description }}">
    <meta name="author" content="{{ .Site.Params.Author }}">

    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:description" content="{{ .Site.Params.Description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink }}">

    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="icon" href="{{ "/favicon.ico" | absURL }}" sizes="32x32">
    <link rel="icon" href="{{ "/icons/favicon-16x16.png" | absURL }}" type="image/png">
    <link rel="apple-touch-icon" href="{{ "/icons/apple-touch-icon.png" | absURL }}">
    <link rel="mask-icon" href="{{ "/icons/apple-touch-icon.png" | absURL }}">
    <link rel="manifest" href="{{ "/icons/site.webmanifest" | absURL }}">

    <link rel="stylesheet" href="{{ "/css/normalize.css" | absURL }}" type="text/css" >
    <link rel="stylesheet" href="{{ "/css/vncnt.css" | absURL }}" type="text/css">

    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" onload="this.media='all'" rel="stylesheet">

    <script data-goatcounter="https://erazemk.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</head>
