<head>
    <meta charset="utf-8">
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Title }}</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{ .Site.Params.Description }}">
    <meta name="author" content="{{ .Site.Params.Author }}">

    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:description" content="{{ .Site.Params.Description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink }}">

    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="icon" href="{{ "/favicon.ico" | absURL }}" sizes="32x32">
    <link rel="icon" href="{{ "/icons/favicon-16x16.png" | absURL }}" type="image/png">
    <link rel="apple-touch-icon" href="{{ "/icons/apple-touch-icon.png" | absURL }}">
    <link rel="manifest" href="{{ "/icons/site.webmanifest" | absURL }}">

    <!-- Minify the CSS files -->
    {{- $barebonesCSS := resources.Get "css/barebones.css" | minify -}}
    {{- $normalizeCSS := resources.Get "css/normalize.css" | minify -}}
    {{- $vncntCSS := resources.Get "css/vncnt.css" | minify -}}
    {{- $boxiconsCSS := resources.Get "css/boxicons.css" | minify -}}

    <!-- Copy the CSS files -->
    {{- $barebonesCSS := resources.Copy "css/barebones.css" $barebonesCSS -}}
    {{- $normalizeCSS := resources.Copy "css/normalize.css" $normalizeCSS -}}
    {{- $vncntCSS := resources.Copy "css/vncnt.css" $vncntCSS -}}
    {{- $boxiconsCSS := resources.Copy "css/boxicons.css" $boxiconsCSS -}}

    <link rel="stylesheet" href="{{ $normalizeCSS.Permalink }}" type="text/css">
    <link rel="stylesheet" href="{{ $barebonesCSS.Permalink }}" type="text/css">
    <link rel="stylesheet" href="{{ $vncntCSS.Permalink }}" type="text/css">
    <link rel="stylesheet" href="{{ $boxiconsCSS.Permalink }}" onload="this.media='all'">

    <!-- Minify the JS files -->
    {{- $countJS := resources.Get "js/count.js" | minify -}}

    <!-- Copy the JS files -->
    {{- $countJS := resources.Copy "js/count.js" $countJS -}}

    <script data-goatcounter="https://erazemk.goatcounter.com/count" async src="{{ $countJS.Permalink }}"></script>
</head>
